
name: Maven and Docker Build

on: workflow_dispatch
  
defaults:
  run:
    working-directory: 'actions-test-backend'

jobs:
  build:
    
    runs-on: ubuntu-latest
    
    permissions:
      packages: write
      contents: read
      
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Cache maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-

      - name: Run mvn package
        run: mvn -B clean package --file pom.xml

      - name: Log in to GitHub Docker Registry
        uses: docker/login-action@v1
        with:
          registry: docker.pkg.github.com
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Extract artifact
        run: |
          mkdir -p target/dependency
          cd target/dependency
          jar -xf ../actions-test-backend-0.0.1-SNAPSHOT.jar
        
      - name: Build and push image
        uses: docker/build-push-action@v2
        
        with:
          push: true
          tags: docker.pkg.github.com/${{ github.repository }}/actions-test-backend:${{ github.sha }}
